.slick-slider {
    width: 100%;
    margin: auto;
    background: #fff;
  }
  
  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }

  .andro_product .andro_product-thumb img{
      max-width: 80%;
      margin: 0 auto;
  }