

.category-wrapper {
    position: relative;
    margin: 10px;
}


.category-box{
    font-size: 14px;
    position: relative;
    color: #222;
    top: 20px;
    font-weight: 700;
    line-height: 20px;
    width: 124px;
    text-align: center;
    margin: 0 auto;
}

.category-box:hover p{
    color: #222;
}
.category-box:hover img{
    color: #222;
}

.slick-slider {
    width: 100%;
    margin: auto;
    background: #fff;
  }
  
  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }


.products-wrapper .andro_product-footer {
    padding: 0 10px !important;
}
.selected{
    background-color:transparent;
    color: #f36523;
}
.selected .sub p{
    color: #f36523;
}
.breadcrumb{
    background-color: transparent;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.filter {
    position: relative;
    background: #efefef;
    padding: 0px;
    border-radius: 10px;
    min-height: 350px;
    margin: 0 0 10px 0;
}
.filter h5{
    border-bottom: 1px solid #f36523;
    padding: 10px 0 10px 20px;
}
.filter h6{
    border-bottom: 1px solid #89c74a;
    padding: 0px 0 10px 20px;
}
.checkbox-wrapper{
    padding: 0 0 10px 44px;
}
.form-check {
    padding-left: 0;
}
.andro_product.andro_product-minimal .andro_product-title{padding-top:5px; font-size:14px !important;
font-weight:500;} 








a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
    position: relative;
}
#accordion .panel:before{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    border: 1px dashed #6e8898;
    top: 25px;
    left: 18px;
    position: absolute;
}
#accordion .panel:last-child:before{ display: none; }
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
}
#accordion .panel-title a{
    display: block;
    padding: 10px 30px 10px 60px;
    margin: 0;
    background: #fff;
    font-size: 18px;
    font-weight: 700;
    color: #1d3557;
    letter-spacing: 1px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 40px;
    height: 100%;
    line-height: 40px;
    font-size: 17px;
    color: #fff;
    text-align: center;
    background: #f36523;
    border-radius: 3px;
    border: 1px solid #f36523;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before{
    content: "\f105";
    color: #000;
    background: #fff;
    border: 1px solid #6e8898;
}
#accordion .panel-body{
    padding: 40px 20px 30px;
    margin-left: 40px;
    border-top: none;
    background: #df8d12;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 1px;
}
@media only screen and (max-width: 480px){
    #accordion .panel-body{ padding: 70px 10px; }
}
